.data{
  width:80vw;
  height: 70vh;
  padding: 50px;
  background: black;
}
.layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.main-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  flex-grow: 1;
}
.popup {
  position: absolute;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  pointer-events: none; /* Ensure it doesn't block mouse events */
  z-index: 1000;
  color: black;
}
.days{
  display: flex;
  gap: 10px;
  flex-wrap:wrap;
}
.day{
  height: 50px;
  width: 50px;

}
